<main class="container py-4" data-controller="welcome">
  <h1 class="pb-4">UNISCAN.pro</h1>

  <%= turbo_stream_from "tokens" %>
  <div id="tokens" class="row gx-0" data-welcome-target="tokens">
    <%= render @tokens %>
  </div>

  <% unless @pagy.page == @pagy.last %>
    <button type="button" class="btn btn-dark mt-4" data-action="welcome#loadMore" data-welcome-target="loadMoreBtn">
      Load More
    </button>
    <div data-welcome-target="url"><%= tokens_index_url(page: @pagy.next, first_token_id: @first_token_id) %></div>
  <% end %>

</main>
