<div data-controller="welcome">
  <h2 class="pb-4">New NFTs</h2>
  <div class="my-container" data-welcome-target="newNfts">
    <%= render partial: "welcome/token", collection: @tokens %>
  </div>
</div>
