// Custom bootstrap variables must be set or imported *before* bootstrap.
// $enable-rounded: false;
@import "glide.core";
@import "glide.theme";
@import "bootstrap";
@import "bootstrap-icons";

body {
  // background: #fbf7f0;
  // background: #33415b;
  // color: #d0d3da;
}

a {
  color: #212529;
  text-decoration: none;
}

a:hover {
  color: #212529;
  text-decoration: underline;
}

.img-thumbnail {
  // border-color: #fbf7f0;
  // background-color: #2b3954;
  // border-color: #33415b;
  // border-radius: 3px;
}

// .btn-primary {
  // background: linear-gradient(90deg,#5522fa 0,#0074e4 100%)!important;
  // background-color: #3c53a4;
// }

h1 {
  // font-family: "Fira Sans",sans-serif;
  // font-family: NonBreakingSpaceOverride,"Hoefler Text",Garamond,"Times New Roman",serif;
  // letter-spacing: normal;
  letter-spacing: normal;
  font-size: 3rem;
  margin-bottom: 0;
}

.bg-ethereum {
  // background-color: $indigo-400;
}

.bg-darwinia {
  // background-color: $indigo-400;
}


.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  // background-color: lightgray;
  z-index: 100;
}

.nft-img {
  border-radius: 10px;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
}

.badge {
  border-radius: 10px;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
}

.outline {
  outline-style: ridge;
  outline-width: 5px;
  outline-color: $warning;
  border-style: inset;
  border-width: 5px;
  border-color: $warning;
}

.outline-normal {
  border-style: solid;
  border-width: 5px;
  border-color: #fff;
}

.rect-img-container {
  position: relative;
}

.rect-img-container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.rect-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  // object-fit: contain;
}

.page-link {
  color: #212529;
}

.page-item a:hover {
  color: #212529;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}


.my-container::-webkit-scrollbar-track {
	background-color: transparent;
}

.my-container::-webkit-scrollbar {
	height: 8px;
}

.my-container::-webkit-scrollbar-thumb {
	background-color: lightgray;
}

.my-container {
  display: flex;
  width: 100%;
  align-items: center;
  // background-color: #222;
  overflow-x: scroll;
}

.my-item {
  flex: none
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-top-left-radius: 50rem !important;
    border-bottom-left-radius: 50rem !important;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 50rem !important;
    border-bottom-right-radius: 50rem !important;
}
